.name {
  color: green;
  font-weight: bold;
}
.info {
  color: gray;
}
.id {
  color: gray;
}
.text {
  font-weight: bold;
  font-size: 18px;
  line-height:27px;
}
.text.big {
  font-size: 24px;
  line-height:36px;
}
.text.small {
  font-size: 12px;
  line-height:18px;
}

[class*="res"] .id {
  font-weight: bold;
  background-color: rgb(204, 204, 204);
}

.res1 .id {
  color: rgb(255, 0, 0);
}
.res1 .text {
  color: rgb(16, 16, 74);
}

.res2 .id,.res2 .text {
  color: rgb(122, 13, 49);
}

.res3 .id,.res3 .text {
  color: rgb(74, 1, 74);
}

.res4 .id,.res4 .text {
  color: rgb(3, 77, 3);
}

.res5 .id,.res5 .text {
  color: rgb(116, 80, 48);
}

.res6 .id,.res6 .text {
  color: rgb(56, 35, 1);
}

#matomegray .text .icon,.text .icon {
  padding: 3px;
  background: rgb(238, 238, 255);
  margin-right: 3px !important;
  border-radius: 45px;
  display: block;
  width: 45px !important;
  height: 45px !important;
}
